.layout {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
.header {
  gap: var(--offset-x);
  padding-inline: var(--offset-x);
  background-color: var(--color-background-soft);
  border-block-end: var(--border);
}
.content {
  padding-inline: var(--offset-x);
  padding-block: var(--offset-y);
}
.footer {
  padding-inline: var(--offset-x);
  background-color: var(--color-background-soft);
  border-block-start: var(--border);
}
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-background);
  box-shadow: var(--shadow);

  &.collapsed {
    box-shadow: var(--shadow-small);
  }
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  background-color: var(--color-background-soft);
  border-block-end: var(--border);
  gap: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--gradient);
  color: var(--color-background-soft);
}
.sidebar-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--footer-height) - var(--header-height));
}
.sidebar-body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: var(--offset-y);
  gap: var(--offset-y);
}
.sidebar-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
  background-color: var(--color-background-hard);
  border-block-start: var(--border);
}
.sidebar-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.sidebar-controls-button {
  width: 100% !important;
  padding: 10px !important;
  background-color: var(--color-foreground-soft) !important;
  color: var(--color-background-soft) !important;
  font-size: 16px !important;
  transition: transform 0.1s ease-in-out !important;
  border: none !important;

  &:hover {
    transform: scale(1) !important;
    background: var(--gradient) !important;
  }
  &:active {
    transform: scale(0.93) !important;
  }
}
.sidebar-divider {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  background-color: var(--color-foreground-soft);
  opacity: 0.2;
}
.infobar {
  padding-inline: var(--offset-x);
  padding-block: var(--offset-y);
  background-color: var(--color-background-soft);
  box-shadow: var(--shadow);
}

.controls {
  position: fixed;
  top: calc(50% - 70px / 2);
  left: calc(50% - 440px / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 20px;
  width: fit-content;
  background-color: var(--color-background-soft);
  border: var(--border);
  border-radius: 20px;
  box-shadow: var(--shadow);
  z-index: 1000;
}
.controls-divider {
  width: 2px;
  height: 40px;
  margin: 0 10px;
  background-color: var(--color-foreground-soft);
  opacity: 0.2;
}
