/* Lucent CSS: Footer */
@import "./common/tokens.css";

.footer {
  width: auto;
  height: auto;
  overflow: hidden;
  transition: height var(--layout-lucent-animation-change-duration) ease-in-out;

  &.hidden {
    height: 0;
  }
}

.footerInner {
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  opacity: 1;
  transition: opacity var(--layout-lucent-animation-inner-change-duration) ease-in-out;

  &.hidden {
    opacity: 0;
    transition: none;
  }
}
