/* Lucent CSS: Header */
@import "./common/tokens.css";

.header {
  position: relative;
  z-index: 10;
  height: var(--layout-lucent-header-height);
  overflow: hidden;
  border-block-end: 0.0625rem solid var(--layout-lucent-separator-color);
  background-color: var(--layout-lucent-header-background-color);
  transition: height var(--layout-lucent-animation-change-duration) ease-in-out;

  &.hidden {
    height: 0;
  }
}

.headerInner {
  display: flex;
  align-items: center;
  gap: var(--layout-lucent-header-gap);
  padding-inline: var(--layout-lucent-header-offset-x);
  padding-block: var(--layout-lucent-header-offset-y);
  height: 100%;
  opacity: 1;
  transition: opacity var(--layout-lucent-animation-inner-change-duration) ease-in-out;

  &.hidden {
    opacity: 0;
    transition: none;
  }
}
