/* Lucent CSS: Header */
.header {
  position: relative;
  z-index: 10;
  width: auto;
  height: auto;

  &.hidden {
    display: none;
  }
}
.headerInner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
