/* Lucent CSS: Layout */

/* Контейнер макета */

.container {
  /* Sizes */
  --ll-header-height: 3.125rem;
  --ll-footer-height: 6.25rem;
  --ll-sidebar-width: 15.625rem;
  --ll-infobar-width: 15.625rem;

  /* Transitions */
  --ll-transition-duration: 0.15s;

  display: grid;
  grid-template-areas:
    "sidebar header header"
    "sidebar body infobar"
    "sidebar footer footer";
  grid-template-columns: var(--ll-sidebar-width) 1fr var(--ll-infobar-width);
  grid-template-rows: var(--ll-header-height) 1fr var(--ll-footer-height);
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  transform: scaleY(1);

  /* prettier-ignore */
  transition: 
    grid-template-columns var(--ll-transition-duration) ease-in-out,
    grid-template-rows var(--ll-transition-duration) ease-in-out, 
    opacity var(--ll-transition-duration) ease-in-out,
    transform var(--ll-transition-duration) ease-in-out;
}

/* Содержимое элементов макета */
.header > *,
.footer > *,
.sidebar > *,
.infobar > * {
  opacity: 1;

  /* prettier-ignore */
  transition: opacity calc(var(--ll-transition-duration) * 3) ease-in-out;
}

/* Режимы скрытия для содержимого элементов макета */
[data-header-mode="hidden"] .header > *,
[data-footer-mode="hidden"] .footer > *,
[data-sidebar-mode="hidden"] .sidebar > *,
[data-infobar-mode="hidden"] .infobar > * {
  overflow: hidden;
  transition-duration: calc(var(--ll-transition-duration) * 0.7);
  opacity: 0;
}

/* Шапка */

.header {
  grid-area: header;
  position: relative;
  z-index: 10;
}

/* Сайдбар */

.sidebar {
  grid-area: sidebar;
  position: relative;
  z-index: 15;
}

/* Тело макета (основной контент) */

.body {
  grid-area: body;
}

/* Инфобар */

.infobar {
  grid-area: infobar;
  position: relative;
  z-index: 5;
}

/* Футер */

.footer {
  grid-area: footer;
  position: relative;
  z-index: 10;
}
