/* Lucent CSS: Layout */

/* Main layout container */

.container {
  --ll-header-area: "sidebar header header";
  --ll-body-area: "sidebar body infobar";
  --ll-footer-area: "sidebar footer footer";

  --ll-header-height: 50px;
  --ll-footer-height: 100px;
  --ll-sidebar-width: 250px;
  --ll-sidebar-collapsed-width: 50px;
  --ll-sidebar-header-height: var(--ll-header-height);
  --ll-sidebar-footer-height: var(--ll-footer-height);
  --ll-infobar-width: 250px;
  --ll-infobar-collapsed-width: 50px;

  --ll-transition-grid-duration: 0.15s;

  display: grid;
  grid-template-areas: var(--ll-header-area) var(--ll-body-area) var(--ll-footer-area);
  grid-template-columns: var(--ll-sidebar-width) 1fr var(--ll-infobar-width);
  grid-template-rows: var(--ll-header-height) 1fr var(--ll-footer-height);
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  transition: grid-template-columns var(--ll-transition-grid-duration) ease-in-out,
    grid-template-rows var(--ll-transition-grid-duration) ease-in-out;

  /* Скрыт сайдбар */
  &[data-sidebar-mode="hidden"] {
    grid-template-columns: 0px 1fr var(--ll-infobar-width);
  }
  /* Свернут сайдбар */
  &[data-sidebar-mode="collapsed"] {
    grid-template-columns: var(--ll-sidebar-collapsed-width) 1fr var(--ll-infobar-width);
  }

  /* Скрыт инфобар */
  &[data-infobar-mode="hidden"] {
    grid-template-columns: var(--ll-sidebar-width) 1fr 0px;
  }
  /* Свернут инфобар */
  &[data-infobar-mode="collapsed"] {
    grid-template-columns: var(--ll-sidebar-width) 1fr var(--ll-infobar-collapsed-width);
  }

  /* Скрыты сайдбар и инфобар */
  &[data-sidebar-mode="hidden"]&[data-infobar-mode="hidden"] {
    grid-template-columns: 0px 1fr 0px;
  }
  /* Свернуты сайдбар и инфобар */
  &[data-sidebar-mode="collapsed"]&[data-infobar-mode="collapsed"] {
    grid-template-columns: var(--ll-sidebar-collapsed-width) 1fr var(--ll-infobar-collapsed-width);
  }

  /* Скрыт сайдбар и свернут инфобар */
  &[data-sidebar-mode="hidden"]&[data-infobar-mode="collapsed"] {
    grid-template-columns: 0px 1fr var(--ll-infobar-collapsed-width);
  }
  /* Свернут сайдбар и скрыт инфобар */
  &[data-sidebar-mode="collapsed"]&[data-infobar-mode="hidden"] {
    grid-template-columns: var(--ll-sidebar-collapsed-width) 1fr 0px;
  }

  /* Скрыт заголовок */
  &[data-header-mode="hidden"] {
    grid-template-rows: 0px 1fr var(--ll-footer-height);
  }
  /* Скрыты заголовок и футер */
  &[data-header-mode="hidden"]&[data-footer-mode="hidden"] {
    grid-template-rows: 0px 1fr 0px;
  }
  /* Скрыт футер */
  &[data-footer-mode="hidden"] {
    grid-template-rows: var(--ll-header-height) 1fr 0px;
  }
}

/* Header */

.header {
  grid-area: header;
  display: flex;
  align-items: center;

  &.hidden > * {
    opacity: 0;
  }
}

/* Body */

.body {
  grid-area: body;
}

/* Infobar */

.infobar {
  grid-area: infobar;

  &.hidden > * {
    opacity: 0;
  }
}

/* Footer */

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;

  &.hidden > * {
    opacity: 0;
  }
}
