/* Lucent CSS: Sidebar */

.sidebarContainer {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 20;
  height: 100%;
  overflow: hidden;

  &.hidden > * {
    display: none;
  }
}

/* Sidebar header */

.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--ll-sidebar-header-height);
}

/* Sidebar body */

.sidebarBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - var(--ll-sidebar-header-height) - var(--ll-sidebar-footer-height));
  overflow-x: auto;
  overflow-y: auto;
}

/* Sidebar footer */

.sidebarFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--ll-sidebar-footer-height);
}
