/* Lucent CSS: Sidebar */

.sidebarContainer {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 20;
  width: auto;
  height: 100%;
  overflow: hidden;

  &.hidden {
    display: none;
  }
}

/* Sidebar header */

.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

/* Sidebar body */

.sidebarBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow-x: auto;
  overflow-y: auto;
}

/* Sidebar footer */

.sidebarFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}
