/* Lucent CSS: Animation */
@import "./tokens.css";

@keyframes sidebarExpand {
  0% {
    width: var(--layout-lucent-sidebar-collapsed-width);
  }
  100% {
    width: var(--layout-lucent-sidebar-width);
  }
}
@keyframes sidebarCollapse {
  0% {
    width: var(--layout-lucent-sidebar-width);
  }
  100% {
    width: var(--layout-lucent-sidebar-collapsed-width);
  }
}
@keyframes innerShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes innerHide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
