:root {
  --color-background: #f6f5f8;
  --color-background-soft: #ffffff;
  --color-background-hard: #eae7f1;
  --color-foreground: #333640;
  --color-foreground-soft: #474c5b;
  --color-foreground-hard: #000000;
}

.layout {
  background-color: turquoise; /* var(--color-background); */
  color: var(--color-foreground);
}
.header {
  background-color: thistle;
}
.content {
  background-color: wheat;
}
.footer {
  background-color: crimson;
}
.sidebar {
  background-color: yellow;
}
.sidebarHeader {
  background-color: purple;
}
.sidebarBody {
  background-color: coral;
}
.sidebarFooter {
  background-color: blue;
}
.infobar {
  background-color: greenyellow;
}
