@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

:root {
  --color-background: #f6f5f8;
  --color-background-soft: #ffffff;
  --color-background-extra-hard: #9187a4;
  --color-background-hard: #eae7f1;
  --color-foreground: #333640;
  --color-foreground-soft: #474c5b;
  --color-foreground-extra-soft: #626b87;
  --color-foreground-hard: #000000;

  --color-absolute-white: #ffffff;
  --color-absolute-black: #000000;

  --header-height: 5rem;
  --footer-height: 5rem;
  --sidebar-width: 15.625rem;
  --sidebar-collapsed-width: 5rem;
  --infobar-width: 20.625rem;
  --infobar-collapsed-width: 3.125rem;

  --color-primary: #a500e7;
  --color-secondary: #ff00d4;
  --offset-x: 2rem;
  --offset-y: 2rem;

  --gradient: linear-gradient(90deg, #a500e7 0%, #ff00d4 100%);
  --shadow: 1rem 2rem 7rem -1.5rem rgba(0, 50, 125, 0.2);
  --shadow-small: 0.5rem 1rem 3rem -0.5rem rgba(0, 50, 125, 0.2);
  --border: 0.0625rem solid var(--color-background-hard);
}

[data-theme-mode="dark"] {
  --color-background: #333640;
  --color-background-soft: #474c5b;
  --color-background-extra-hard: #626b87;
  --color-background-hard: #000000;

  --color-foreground: #f6f5f8;
  --color-foreground-soft: #ffffff;
  --color-foreground-extra-soft: #d1cbdb;
  --color-foreground-hard: #eae7f1;

  --border: 0.0625rem solid transparent;

  --shadow: 1rem 2rem 7rem -1.5rem rgb(0, 0, 0, 0.5);
  --shadow-small: 0.5rem 1rem 3rem rgb(0, 0, 0, 0.5);
}

body {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
}

* {
  box-sizing: border-box;
}

.scrollable {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--color-background-extra-hard) transparent;
  transition: opacity 0.3s ease;
}
.scrollable::-webkit-scrollbar-track {
  background: transparent;
}
.scrollable::-webkit-scrollbar-thumb {
  background: var(--color-background-extra-hard);
}
.scrollable::-webkit-scrollbar-thumb:hover {
  background: var(--color-foreground-extra-soft);
}
