@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

:root {
  --color-background: #f6f5f8;
  --color-background-soft: #ffffff;
  --color-background-hard: #eae7f1;
  --color-foreground: #333640;
  --color-foreground-soft: #474c5b;
  --color-foreground-extra-soft: #626b87;
  --color-foreground-hard: #000000;

  --color-primary: #a500e7;
  --color-secondary: #ff00d4;
  --offset-x: 2rem;
  --offset-y: 2rem;

  --gradient: linear-gradient(90deg, #a500e7 0%, #ff00d4 100%);
  --shadow: 1rem 2rem 7rem -1.5rem rgba(0, 50, 125, 0.2);
  --shadow-small: 0.5rem 1rem 3rem -0.5rem rgba(0, 50, 125, 0.2);
  --border: 0.0625rem solid var(--color-background-hard);
}

body {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
}
* {
  box-sizing: border-box;
}
